@import "./../../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  color: #FFFFFF;
}

.f-s-16 {
  font-size: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.text-color-black {
  color: #000000;

}

.brand-color {
  background-color: #010032;
}

/*/////////////////////// HEADER ///////////////////////*/
.header {
  min-height: 83px;
  padding: 30px 80px;
}

header button {
  background-color: inherit;
  color: white;
  border: none;
  padding: 0 20px 0;
}


/*/////////////////////// 1 СЕКЦІЯ ///////////////////////*/
.p-top-cont {
  padding-left: 80px;
  padding-top: 100px;
  padding-right: 108px;
}

h1 {
  font-size: 72px;
  margin-bottom: 34px;
  line-height: 75.6px;
}

.section1 h2 {
  font-size: 22px;
  margin-bottom: 23px;
  line-height: 34.1px;
}

.but-Hire-me {
  height: 69px;
  width: 203px;
  border-radius: 32px;
  padding: 0;
  border: 2px solid #FFFFFF;
  font-size: 18px;
  margin-bottom: 102px;
}

.cubok-text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 7px;
}

.cubok-text2 {
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF99;
  margin-bottom: 0;

}

/*/////////////////////// 2 СЕКЦІЯ ///////////////////////*/
.section2 {

  min-height: 400px;
}

.sec2-about-title {
  padding: 144px 0 190px 80px;
  //padding: 144px 80px 190px;
}

.sec2-items {
  padding: 144px 80px 190px 0;
}

.section2 * {
  color: black;
}

.margin-bottom-115 {
  margin-bottom: 115px;
}

.about-section2 {
  margin-left: 20px;
  letter-spacing: 2px;
  color: #4543E8;
}

.sec1-text-p {
  font-size: 19px;
  line-height: 28px;
  margin: 0 99px 27px 0;
  max-width: 391px;
}

.sec2-h5 {
  font-size: 18px;
  line-height: 24px;
}

.sec2-h6 {
  font-size: 15px;
  line-height: 24px;
}

.h3-trust {
  font-size: 48px;
  line-height: 54px;
  margin: 0 23px 74px 0;
}

.blue-numbers {
  font-size: 60px;
  line-height: 66px;
  color: #4543E8;
}

.f-s-22 {
  font-size: 22px;
  line-height: 31px;
}

.sec2-blue-mr {
  margin: 0 60px 70px 0;
}

//.sec2-logos{
//  margin: 0 60px 70px 0;
//}
.sec2-logotip {
  margin: 20px 20px 20px 0;
}

/*/////////////////////// 3 СЕКЦІЯ ЗАГОЛОВОК///////////////////////*/
.ml-390 {
  margin: 0 0 107px 390px;
}

.mr-120 {
  margin-right: 120px;
}

.mb-120 {
  margin-bottom: 120px;

}

.section3 {
  //min-height: 2950px;
  padding: 0 80px;

}

.section3 * {
  color: black;
}

.sec3-title {
  max-width: 700px;
  margin-bottom: 78px;
}

.img-color {
  margin-right: 20px;
}

.p-sec-title3 {
  margin: 0 0 26px 20px;
  letter-spacing: 2px;
  color: #4543E8;
}

.h2-sec-text {
  font-size: 60px;
  line-height: 66px;
}

.sec3-bloc2 {
  margin-right: 130px;
}

.sec3-h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
}

.p-sec3 {
  font-size: 12px;
  line-height: 28px;
}

.sec3-but {
  height: 160px;
  width: 160px;
  border: none;
  color: #FFFFFF;
  background-color: #4543E8;
  font-size: 16px;
  line-height: 24px;
  padding: 0 44px;
  margin-bottom: 120px;
}

.sec3-img-wid50 {
  width: 100%;


}

.sec3-img-hei50 {
  height: 100%;
}

/*/////////////////////// SERVICES///////////////////////*/
.services {
  padding: 144px 80px;
}

.text-servis {
  font-size: 16px;
  padding-left: 20px;
  letter-spacing: 2px;
}

.h2-servis {
  font-size: 24px;
  line-height: 30px;
}

.h3-servis {
  font-size: 48px;
  line-height: 54px;
  padding-top: 20px;
}

.img-service {
  align-items: flex-end;
  padding-top: 53px;
}

.services div {
  font-size: 18px;
  line-height: 28px;
}

.pb-20 {
  padding-bottom: 20px;
}

.services button {
  height: 69px;
  width: 270px;
  border: 2px solid #FFFFFF;
  border-radius: 32px;
}

///////////TESTIMONIALS/////////
.testimonials * {
  color: black;
}

.testimonials {
  min-height: 960px;
  background-color: #D8D8EB;
}

.testimonial-name {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  padding: 120px 0 26px 0;
}

.testimonial-name p {
  color: #4543E8;
  padding: 0 20px;
}

.testimonials h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  padding-bottom: 50px;
}

.cards {
  justify-content: space-evenly;
  margin-bottom: 92px;
}

.client-card {
  background: #FFFFFF;
  border-radius: 20px 20px 0 20px;
  min-height: 360px;
  max-width: 576px;
  padding: 40px
}

.client-card h5 {
  font-size: 24px;
  line-height: 30px;
  padding-top: 28px;
  padding-bottom: 15px;
}

.client-card h6 {
  font-size: 15px;
}

.client-card img {
  padding-right: 24px;
}

.client-card p {
  font-size: 18px;
  line-height: 28px;
}

/*/////////////////////// PROCESS ///////////////////////*/
.process .col {
  padding-bottom: 80px;
}

.process * {
  color: black;
}

.process {
  min-height: 859px;
  padding: 144px 80px 175px;
}

.text-process {
  letter-spacing: 2px;
  padding-left: 20px;
  color: #4543E8;
}

.process h2 {
  font-family: "Space Grotesk", serif;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 1.2px;
}

.pr-372 {
  padding-right: 372px;
}

.process p {
  font-size: 22px;
  line-height: 34px;
}

.process .items .col {
  padding-bottom: 40px;
  padding-right: 40px;
}

.items h3 {
  font-size: 48px;
  line-height: 54px;
  margin: 0 153px 31px 0;
  color: #4543E8;
}

.items h4 {
  font-size: 24px;
}

.items p {
  font-size: 12px;
  line-height: 28px;
}

/*/////////////////////// SHOP ///////////////////////*/
.shop {
  min-height: 982px;
  padding: 0 80px;
}

.shop * {
  color: black;
}

.shop-name {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  padding-bottom: 15px;
}

.shop-name p {
  color: #4543E8;
  padding: 0 20px;
}

.shop-h3 {
  text-align: center;
  font-size: 48px;
  line-height: 53px;
  margin-bottom: 50px;
}

.pictures {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 92px;
}

.pictures h5 {
  font-size: 24px;
  line-height: 30px;
  padding-top: 32px;
}

.pictures p {
  font-size: 18px;
  line-height: 28px;
}

.shop-btn {
  color: #4543E8;
  background: none;
  border: none;
}

.shop-btn img {
  padding-left: 10px;
}

.shop-img {
  margin: 20px;
}

.shop-img img {
  width: 100%;
}

.shop-line {
  color: #4543E833;
  padding-bottom: 130px;
}

/*/////////////////////// BLOG ///////////////////////*/
.blog * {
  color: black;
}

.blog {
  min-height: 1330px;
  padding: 0 80px;
}

.text-blog {
  color: #4543E8;
  padding-left: 20px;
  letter-spacing: 2px;
}

.but-Explore {
  height: 65px;
  min-width: 274px;
  background: #4543E8;
  border-radius: 32px;

}

.blog-btn-text {
  color: #FFFFFF;
  padding-right: 20px;
  font-size: 18px;
  line-height: 25px;
}

.blog-h4 {
  font-family: Space Grotesk, serif;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 1.2000000476837158px;
  max-width: 631px;
}

.mb-80 {
  margin-bottom: 80px;
}

.design-img-post {
  margin-right: 40px;
}


.design-text p {
  font-size: 12px;
  line-height: 28px;
}

.sec-blog-m-top {
  align-items: center;
  margin: 0 0 80px 0;
}

.sec-blog-title {
  height: 200px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.h3-post {
  line-height: 19px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #4543E8;
}

.h4-post {
  font-size: 24px;
  line-height: 30px;
}

.p-post {
  font-size: 12px;
  line-height: 28px;
}


//////////post


.design-text {
  margin-right: 200px;
}

.design-post-button {
  border: none;
  color: #4543E8;
  background: none;
  width: 134px;
  line-height: 25px;
  margin-right: 63px;
}

.post-line {
  margin: 10px 0 10px 0;
  background: #F1F2F6;
}

.m-b-t-post-line {
  margin: 46px 0;
  background: #F1F2F6;
}


/*/////////////////////// WORK ///////////////////////*/
.work-about {
  min-height: 400px;
  background-color: #4543E8;
}

.work {
  background-image: url("../images/IMAGE_12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.work-btn {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  background: none;
  border: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-work-p {
  margin-right: 20px;
}

.work-line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0;
}

////////////////////////////////CONTACT/////////////////////////
.contact {
  background-color: #010032;
  padding: 100px 80px 0 80px;
}

.p-l-r {
  padding: 0 100px;
}

.m-b-125 {
  margin-bottom: 125px;
}


.fist-p {
  font-size: 60px;
  //line-height: 66px;
  //color: white;
}

.second-p {
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #D8D8EB;
}

.contact button {
  background-color: inherit;
  color: white;
  border: none;
  margin-bottom: 15px;

}

.contact input {
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 240px;
  margin-right: 50px;
  width: 290px;
  height: 48px;
  background: inherit;
}

#purple-button {
  background: #4543E8;
  border-radius: 24px;
  width: 140px;
  height: 48px;
}

//////////////////////////////// CONTACT /////////////////////////
footer {
  padding: 40px 80px;
  background-color: #010032;
  color: white;
}

.footer-buttons button {
  color: white;
  background: inherit;
  border: none;
}

.footer-hr {
  margin: 0;
  border-top: 0.5px solid;
  //border-color: rgb(0 0 0);
}

@media screen and (max-width: 1165px) {
  .sec1-img {
    display: none
  }
  .but-Explore {
    margin-top: 20px;
  }
  .flex-wrap-media-1165 {
    flex-wrap: wrap;
  }

  .m-t-l-b {
    margin: 20px 20px 20px 0;
  }
}

@media screen and (max-width: 1230px) {
  .work-img2 {
    margin: 0;
  }
  .client-card {
    margin: 30px 30px 0;
  }
  .cards {
    margin-bottom: 0
  }
}

@media screen and (max-width: 1020px) {
  .m-b {
    margin-right: 100px;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 860px) {
  .header div {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .p-top-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .m-b30 {
    margin-bottom: 30px;
  }
  .section2 {
    padding: 30px 0 30px 30px;
    margin-right: 30px;
    flex-direction: column;
  }
  .sec2-about-title {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30px 30px 30px 0;
  }
  .sec2-items {
    padding: 0 30px 0;
  }
  .h3-trust {
    margin: 0 20px 20px 0;
  }
  .sec2-blue-mr {
    margin: 0 20px 20px 0;
  }
  .sec2-logos {
    padding: 0 30px 30px 0;
  }
  .h2-sec-text {
    font-size: 30px;
    line-height: 30px;
  }
  .mar-0 {
    margin: 0;
  }
  .services {
    padding: 30px 30px 0;
  }
  .img-service * {
    display: none;
  }
  .p-30 {
    padding: 30px;
  }

}

@media screen and (max-width: 768px) {
  .sec3-wrap {
    flex-wrap: wrap;
  }
  .process .col {
    padding: 20px;

  }
  .process .items .col {
    padding: 20px
  }
  .shop {
    padding: 0 20px 0;
  }
  .shop-img {
    margin: 20px;
  }
  .pictures {
    margin-bottom: 20px;
  }
  .shop-line {
    padding-bottom: 20px;
  }
  .blog {
    padding: 0 30px 0;
  }
  .contact {
    padding: 30px;
  }
}

@media screen and (max-width: 860px) {
  .work-about img {
    display: none;
  }
  .work-about hr {
    display: none;
  }

  .contact .fist-p {
    font-size: 30px;
  }
  .contact .second-p {
    font-size: 30px;
    padding: 0;
  }
  .mb-40 {
    margin-bottom: 40px;
  }
  .m-b20 {
    margin-bottom: 20px;
  }
  footer {
    padding: 25px;
  }
  footer button {
    font-size: 12px;
  }
  .f-d-column {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .contact .fist-p {
    font-size: 20px;
  }
  .contact .second-p {
    font-size: 20px;
    padding: 0;
  }
}


